*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-image: url('./assets/image/pexels-marina-zasorina-7635010.jpg'); 
  background-size: cover; 
}
main{
    width: 100%;
    padding: 30px;
}
h1{
    color: aliceblue;
    text-align: center;
}